@import "tailwindcss";

@theme {
    --color-foreground: 15 23 42;
    --color-muted-foreground: 71 85 105;
    --color-background: oklch(0.200 0 0);
    --color-card: oklch(.350 0 0);
    --color-border: oklch(0.550 0 0);
    --color-primary: oklch(0.715 0.143 215.221);
    --color-text: oklch(0.97 0 0);
    --color-accent-foreground: 30 41 59;
}


@keyframes text-glow {
    0% {
        text-shadow: 0 0 10px #34d399;
    }

    33% {
        text-shadow: 0 0 15px #22d3ee;
    }

    66% {
        text-shadow: 0 0 12px #818cf8;
    }

    100% {
        text-shadow: 0 0 10px #c084fc;
    }
}

.glow-text {
    animation: text-glow 3s ease-in-out infinite alternate;
}